<div class="container" >
  <div class="anchoMaximod">
      <h2>{{title}}</h2>
      
      <form [formGroup]="datos">

          <div>
              <label for="correo">Correo:</label>
              <input type="email" name="correo" formControlName="correo" required>
              
          </div>
          <div>
            <label for="asunto">Asunto:</label>
            <input type="text" name="asunto" formControlName="asunto"  required>
            
        </div>
          <div>
              <label for="mensaje">Descripcion:</label>
              <textarea name="mensaje" formControlName="mensaje" cols="15" rows="5" 
                 ></textarea>
          </div>
          <input type="submit" value="enviar"  (click)="envioCorreo()">
      </form>
  </div>

</div>