<div class="detalle anchoMaximo" *ngIf="project">
    <h1>{{project.name}}</h1>
    <div class="grid detalleGrid">
        <div>
            <p>{{project.description}}</p>
            <img src="{{url+'get-image/'+project.image}}" alt="imagen del proyecto" *ngIf="project.image">
            
        </div>
        <div class="texto">
            <div>
                <h2>tipo de desarrollo</h2>
                <p>{{project.category}}</p>
            </div>
            <h2>lenguajes utilizados</h2>
            <p>{{project.langs}}</p>
            <h3>año de creacion</h3>
            <p>{{project.year}}</p>
            
        </div>
       
    </div>
    <div class="cajaBotones grid" *ngIf="confirm == false">
        <a class="butonDetail botEd" [routerLink]="['/editar-proyecto',project._id]">Editar</a>
        <a class="butonDetail botEl" (click)="setConfirm(true)">Eliminar</a>
    </div>
    <div class="cajaBotones " *ngIf="confirm == true">
        <span>¿Seguro que desea eliminar el proyecto definitivamente?</span>
        <div class="grid">
            <a class="butonDetail botEd" (click)="setConfirm(false)">Cancelar</a>
            <a class="butonDetail botEl" (click)="deleteProject(project._id)">Eliminar definitivamente</a>
        </div>    
    </div>

    
</div>
