<div class="about">
</div>
<section class="about">
    <h1>Sobre <span class="title">mi</span> </h1>
    <div class="grid aboutMe">
        
        <div class="">
            <h3>Desarrollador web </h3>
            <p>He diseñado y programado aplicaciones web desde 0, ya sea del lado del
                cliente (Front-end, UX / UI) como del lado del servidor (Back-end). Tambien he optimizado el posicionamento de una pagina aplicando SEO</p>
        </div>
        <div class="">
            <img src="../../../assets/img/aboutMe.svg" alt="">
        </div>
    </div>

    <div class="second grid">
        <div class="">
            <img src="../../../assets/img/profile.svg" alt="">
        </div>
        <div class="texto">
            <p>
                Continuamente adquiriendo nuevas habilidades en función a las actuales y aprendiendo
                tendencias tecnológicas en el campo del diseño y desarrollo de aplicaciones web en general.
            </p>
            <p>
                disiplinado con el trabajo que realizo, ofreciendo y aportando mis conocimientos y habilidades, así como nuevas ideas, soluciones, personalización en cada proyecto.
            </p>
        </div>
    </div>

    <h2>Conocimientos técnicos y habilidades</h2>

    <div class="conocimientos">
        <div class="front grid">
            <div>
                <h3>Desarrollo FrontEnd (lado del cliente)</h3>
                <ul>
                    <li>Html5</li>
                    <li>Ccs3, Flexbox, Css Grid</li>
                    <li>Javascript, JQuery</li>
                    <li>Responsive Web Design (Diseño adaptable)</li>
                    <li>Angular</li>
                </ul>
            </div>

            <div>
                <img src="../../../assets/img/front.svg" alt="">
            </div>
        </div>

        <div class="back grid ">
            <div>
                <h3>Desarrollo BackEnd (lado del servidor)</h3>
                <ul>
                    <li>Php 7,8, POO, MVC</li>
                    <li>Base de datos Mysql</li>
                    <li>laravel 7,8,9</li>
                    <li>CMS Wordpress</li>
                    <li>api restfull con node js y mongodb</li>
                </ul>
            </div>
            <div>
                <img src="../../../assets/img/backend.svg" alt="">
            </div>

        </div>
    </div>


</section>