<div class="about">
   
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    
</div>
<article class=" grid">
    <div class="aboutMe">
        <h2>Sobre <span>mi</span> </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum illo nam nisi tempora rem aspernatur quisquam
            quam, libero ad rerum laborum dolores veritatis modi quia itaque atque aut? Earum dicta aperiam beatae quia
            aspernatur, totam repellendus adipisci. Atque tenetur a at, consequuntur in accusamus necessitatibus ab quam
            ut facilis explicabo.</p>
    </div>
    <div class="imgHeader">
        <img src="../../../assets/img/aboutMe.svg" width="350" alt="">
    </div>
</article>