<div>
    <section class="present">
        <div class="index">
            <h2>- Bienvenido a mi Portafolio Web-</h2>
               <h1 > <img src="../../../assets/img/angulo-izquierdo.svg" alt="">/<span  class="typed"></span><img
                src="../../../assets/img/angulo-derecho.svg" alt=""></h1>
            
           
            
                <div class="present-buttons grid" >
                    <button>[ Sobre mi ]</button>
                    <button>[ Proyectos ] </button>
                </div>
                <div>
                    
                </div>
          
        </div>

    </section>
</div>