/* import fonts */
@font-face {
    font-family: yanone;
    src: url(fonts/yanone.ttf);
}

@font-face {
    font-family: titilium;
    src: url(fonts/titilium.ttf);
}
@font-face {
    font-family: finger;
    src: url(fonts/finger.ttf);
}

/* generals styles */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.anchoMaximo{
    max-width: 1330px;
    margin: 20px auto;
}
body{
    background: url(../img/pattern.png);
    background-attachment: fixed;
}
.grid{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
}
/* .hero {
    position: relative;
    color: #fff;
    background: linear-gradient(to bottom,#80669f,#9d98b2);
    background-attachment: fixed;
} */

/* header */
.headerPrincipal{
    font-family: 'Hind Siliguri', sans-serif;
    width: 100%;
    background: linear-gradient(to bottom,#80669f,#9d98b2);
}
.headerPrincipal ul{
    text-transform: uppercase;
    list-style-type: none;
    min-height: 100px;

}
.headerPrincipal li{
    margin: 10px 20px;
    
}
.headerPrincipal ul a{
    transition: all 500ms;
    text-decoration: none;
    font-weight: 600;
    color: white;
    font-size: 1.4em;
}
.headerPrincipal li a:hover{
    color: orange;
}


