/* import fonts */
@font-face {
  font-family: 'icomoon';
  src: url('icons/fonts/icomoon.eot?auo4sa');
  src: url('icons/fonts/icomoon.eot?auo4sa#iefix') format('embedded-opentype'),
    url('icons/fonts/icomoon.ttf?auo4sa') format('truetype'),
    url('icons/fonts/icomoon.woff?auo4sa') format('woff'),
    url('icons/fonts/icomoon.svg?auo4sa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}

.icon-home3:before {
  content: "\e902";
}

.icon-pencil2:before {
  content: "\e906";
}

.icon-profile:before {
  content: "\e923";
}

.icon-stack:before {
  content: "\e92e";
}

.icon-phone:before {
  content: "\e942";
}

.icon-location2:before {
  content: "\e948";
}

.icon-clock:before {
  content: "\e94e";
}

.icon-display:before {
  content: "\e956";
}

.icon-mobile:before {
  content: "\e958";
}

.icon-tablet:before {
  content: "\e95a";
}

.icon-database:before {
  content: "\e964";
}

.icon-undo2:before {
  content: "\e967";
}

.icon-bubble:before {
  content: "\e96b";
}

.icon-bubbles2:before {
  content: "\e96d";
}

.icon-user-plus:before {
  content: "\e973";
}

.icon-spinner10:before {
  content: "\e983";
}

.icon-search:before {
  content: "\e986";
}

.icon-key:before {
  content: "\e98d";
}

.icon-key2:before {
  content: "\e98e";
}

.icon-lock:before {
  content: "\e98f";
}

.icon-unlocked:before {
  content: "\e990";
}

.icon-wrench:before {
  content: "\e991";
}

.icon-equalizer:before {
  content: "\e992";
}

.icon-cog:before {
  content: "\e994";
}

.icon-cogs:before {
  content: "\e995";
}

.icon-hammer:before {
  content: "\e996";
}

.icon-switch:before {
  content: "\e9b6";
}

.icon-menu:before {
  content: "\e9bd";
}

.icon-download3:before {
  content: "\e9c7";
}

.icon-plus:before {
  content: "\ea0a";
}

.icon-minus:before {
  content: "\ea0b";
}

.icon-blocked:before {
  content: "\ea0e";
}

.icon-cross:before {
  content: "\ea0f";
}

.icon-checkmark:before {
  content: "\ea10";
}

.icon-arrow-up:before {
  content: "\ea32";
}

.icon-embed2:before {
  content: "\ea80";
}

.icon-share2:before {
  content: "\ea82";
}

.icon-mail:before {
  content: "\ea83";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-whatsapp:before {
  content: "\ea93";
}

.icon-github:before {
  content: "\eab0";
}

.icon-linkedin:before {
  content: "\eac9";
}

.icon-file-pdf:before {
  content: "\eadf";
}

.icon-html-five:before {
  content: "\eae4";
}

.icon-css3:before {
  content: "\eae6";
}

.icon-git:before {
  content: "\eae7";
}

.icon-IcoMoon:before {
  content: "\eaea";
}


/* generals styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cm-up {
  display: none;
  position: fixed;
  border-radius: 2px;

  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.cm-icon {
  padding: 3px;
  background: #4a4a4aa4;
  font-size: 20px;
  width: 33px;
  height: 33px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s
}

.cm-icon:hover {
  background: #4a4a4a;
}


.cm-icon img {
  width: 23px;
  color: rgba(78, 73, 73, 0.751);
}



.iconos {
  margin-left: 20px;
  position: fixed;
  z-index: 10;
  right: 1%;
}
.icon-menu{
  display: none;
}

.iconos a {
  color: rgb(53, 58, 179) !important;
  cursor: pointer;
}

.iconos a:hover {
  color: orange !important;
}

.anchoMaximo {
  max-width: 1330px;
  margin: 0px auto;
}

body {
  background: linear-gradient(90deg, rgba(204, 194, 215, 0.02573529411764708) 0%, rgba(206, 206, 241, 1) 100%), url(../img/triangulo.png);
  background-attachment: fixed;
}

.grid {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
}


/* header */
.headerPrincipal {
  
  font-family: 'Hind Siliguri', sans-serif;
  width: 100%;
  background: linear-gradient(to bottom, #80669f, #9d98b2);
  border-radius: 0 0 8px 8px;
  position: fixed;
  z-index: 10;
}



.headerPrincipal ul {
  transition: all 0.5s;
  text-transform: uppercase;
  list-style-type: none;
  min-height: 80px;
  
}

.headerPrincipal li {
  margin: 10px 20px;

}

.headerPrincipal ul a {
  transition: all 200ms;
  text-decoration: none;
  font-weight: 600;
  color: white;
  font-size: 1.4em;
  padding: 0 5px;
}

.headerPrincipal li a:hover,
.headerPrincipal li a.actived {
  color: orange;
  border-left: orange 1px solid;
  border-top: orange 1px solid;
  border-radius: 5px;
}

.imgHeader {
  text-align: center;
}

.imgHeader img {
  margin-left: 20px;
}

/* cabecera */


/* logo texto index */
.index-name {
  color: rgb(7, 7, 7);
  font-weight: bold;
  font-style: normal;
  color: #FFFFFF;

  text-shadow: 0 0 5px #bcb6b6, 0 0 10px #e9e3e3, 0 0 15px #FFF, 0 0 20px #ff18f3, 0 0 30px #18e4ff, 0 0 40px #ed01fa, 0 0 55px #49FF18, 0 0 75px #f018ff;
}

/* @keyframes maquina{
  from {
    width: 100%;
  }
  to{
    width: 0;
  }
} */
.contenedor {
  margin: auto;
  display: table;
}

/* first content */
/* index */
.present {
  padding-top: 140px;
  min-height: 500px;
  width: 100%;
  filter: none;
  background: url(../img/escritorio2.jpg) center center/cover;
  text-align: center;
  z-index: -1;
}

.index {
  width: 100%;
  min-height: 500px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.present h1 {
  z-index: 1;
  float: left;
  color: #070707;
  text-align: center;
  font-size: 2.5em;
  position: relative;
  margin-bottom: 30px;
}

.present h1 img {
  display: inline-block;
  width: 25px;
}

.present h2 {
  margin-top: 20px;
  margin-bottom: 60px;
}

.present h2 span {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.510329131652661) 19%, rgba(96, 50, 93, 0.5551470588235294) 39%, rgba(255, 255, 255, 0.30584733893557425) 69%);
  font-size: 1.5em;
  color: rgb(0, 0, 0);
  font-family: sans-serif;

  border-radius: 8px;
}



.present-buttons {
  gap: 55px;
  margin-top: 150px;
  font-size: 1.4em;
  transition: all 0.5s;
}

.present-buttons button {
  font-size: 1.2em;
  padding: 10px;
  background: rgba(97, 118, 97, 0.332);
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.present-buttons button:hover {
  color: orange;
}

/* section technologies */
.technologies {
  min-height: 300px;
  text-align: center;
}

.technologies h2 {
  margin-top: 30px;
  font-size: 1.4em;
  text-transform: capitalize;
}

.box-technologies {
  grid-auto-flow: unset;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.box-technologies span {
  padding: 10px 10px 0px 10px;
  font-size: 2.0em;
  color: #494914;
}

.box-technologies div {
  margin: 0px 20px;
}

.box-technologies h2 {
  color: orange;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 1.4em;
}

.box-technologies p {
  font-weight: 600;
  margin-top: 20px;
  text-align: justify;
  font-size: 1.1em;
  font-family: monospace;
}
.contentComponent {
  margin: 20px 40px;
}
/* section contact-me */
.font{
  
}
.font{
  background: #000;
  min-height: 50px;
  display: grid;
  justify-content: center;
  justify-items: center;
  
}
.font>div{
  margin-top: -50px;
  min-height: 50px;
  background: #80669f;
  border-radius: 15px;
  width: 95%;
  padding: 0px 80px;
  gap: 30px;
  font-family: monospace;
  color: white;
}
.font>div h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
}
.font>div p{
  text-align: center;
}
.font>div button{
  transition: all 0.5s;
  color: white;
  background: transparent;
  padding: 8px 13px;
  border: 2px solid rgb(247, 244, 243);
  border-radius: 10px;
}

.font>div button:hover{
  color: #49FF18;
  background: transparent;
  padding: 8px 13px;
  border: 2px solid #49FF18;
  border-radius: 10px;
  cursor: pointer;
  scale: 1.1;
}
/* footer */

.footerPrincipal {
  width: 100%;
  background: #000;
  font-family: sans-serif;
}

.footerPrincipal>div {
  min-height: 100px;
  color: white;
}

/* footer contact */
.footerPrincipal h2{
  font-size: 1.1em;
  font-family: sans-serif;
}
.footerPrincipal ul {
  list-style-type: none;
}

.box-footer {
  justify-content: space-around;
}

.tel {
  font-size: 1.1em;
  margin-top: 28px;
  text-align: center;
}

.tel ul {
  text-align: left;
}
.tel a{
  font-family: monospace;
  font-size: 1.2em;
  text-decoration: none;
  color: white;
}
.icon-whatsapp{
  color: #49FF18;
}
.icon-mail{
  color: rgb(10, 214, 214);
}
.tel li {
  
  padding: 5px;
}

.social {

  text-align: center;
  padding: 20px;
}

.social ul,
.tel ul {
  margin-top: 20px;
}

.social li a {
  font-size: 1.8em;
  padding: 20px;
  text-decoration: none;
}

.social li a:hover {
  color: orange;
}

/* about me */

.about {
  margin-top: 0;
  margin-left: 20px;
  margin-right: 20px;

  font-family: sans-serif;
}

.about p {
  font-family: monospace;
  text-align: justify;
  font-size: 1.6em;
}

.title {
  color: #80669f;
}

.about h1 {
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 2.6em;
  padding-top: 150px;
}

.about h2 {
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 2.4em;
  margin-top: 40px;
  margin-bottom: 50px;
}

.aboutMe {
  gap: 25px;
  margin: 20px 40px;
}

.aboutMe h2,
.aboutMe h3 {
  font-weight: bold;
  font-size: 2.4em;
  margin-bottom: 20px;
}

.aboutMe img {
  width: 350px;
}

.aboutMe span {
  color: #80669f;
}

.second {
  gap: 35px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.texto {
  text-align: justify;
  margin-right: 20px;
  margin-left: 20px;
}

.texto p {
  font-family: monospace;
  margin: 20px 0;
}

.second img {
  width: 400px;
}

.conocimientos {
  margin: 30px 10px;
}

.conocimientos h3 {
  margin: 20px 10px;
  font-size: 1.6em;
}

.conocimientos li {
  font-family: monospace;
  list-style-type: none;
  font-size: 1.4em;
  margin: 10px;
  padding-left: 20px;
}

.conocimientos img {
  width: 500px;
}

.front {
  margin-bottom: 30px;
}

.back {
  margin-top: 60px;
}

.download-principal {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  justify-content: center;
}

.donwload {
  padding: 15px 10px;
  background: rgb(126, 126, 179);
  color: white;
  border-radius: 15px;
  transition: all 0.5s;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid black;
  margin-bottom: 30px;
}


.donwload:hover {
  color: rgb(255, 98, 0);
  cursor: pointer;
  scale: 1.1;
  background: #080808;
}


/* form create projects */
.container {
  padding-top: 100px;
}

.container h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.9em;
}

.container form {
  width: 400px;
  margin: 20px auto;
  font-family: monospace;
}

.container form label {
  display: block;
  width: 50%;
  margin: 10px 0px;

}

.container form input[type='text'],
.container form input[type='number'],
.container form input[type='file'],
.container form input[type='email'],
.container textarea {
  width: 100%;
  padding: 5px 10px;
  margin: 0px 0px;
  border: 1px solid gray;
  border-radius: 3px;
}

.container form input[type='file'] {
  border: none;
  cursor: pointer;
}

.container form input[type='submit'] {
  display: block;
  background-color: #ac20aa;
  padding: 5px 10px;
  margin: 20px auto;
  transition: all 0.5s;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}

.container form input:disabled[type='submit'] {
  display: block;
  background-color: #f7eff6;
  padding: 5px 10px;
  margin: 20px auto;
  transition: all 0.5s;
  cursor: not-allowed;
  color: rgb(212, 205, 205);
}

.container form span {
  display: inline-block;
  color: red;
  margin-top: 3px;
}

/* menssaje form success or failed */
.messaje {
  padding: 5px 10px;
  font-size: 1.2em;
  font-weight: 500;
  color: white;
  font-family: yanone;
  border-radius: 5px;
  margin: 10px;
}

.messaje a {
  color: #451c45;
  text-decoration: none;
  cursor: pointer;
}

.messaje.success {
  background: rgb(2, 190, 2);
}

.messaje.failed {
  background: red;
}

/* proyectos */
.containerProyectos ul {
  margin: 10px auto;
  width: 80%;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  grid-auto-flow: unset;
  gap: 20px;
  list-style-type: none;
}

.proyectos img {
  width: 280px;
  height: 200px;
  filter: brightness(0.8);
  transition: all 500ms;
  cursor: pointer;
  margin: 20px 0;
}

.proyectos img:hover {
  filter: brightness(1.1);
  transform: scale(1.1);
}

.proyectos p {
  text-transform: uppercase;
  text-align: center;
}

.containerProyectos a {
  text-decoration: none;
}

/* details */

.detalle {
  font-family: yanone;
}

.detalle h1 {
  text-transform: uppercase;
  text-align: center;
}

.detalleGrid {
  gap: 15px;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.detalleGrid p {
  margin: 10px 0;
}

.detalle .texto {
  margin-top: 50px;
  margin-right: 130px;
}

.detalle img {
  width: 450px;
}

.cajaBotones {
  text-align: center;
}

.cajaBotones span {
  display: inline-block;
  color: red;

}

.butonDetail {
  color: white;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px 10px;
  margin: 10px 10px;
  cursor: pointer;
}

.botEd {
  background: rgb(121, 218, 224);
}

.botEl {
  background: rgb(251, 54, 54);
}

/* contact*/
.imgContact {
  display: grid;
  justify-items: end;
}

.imgContact img {
  width: 80%;
}

.captcha {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.captcha p {


  margin-bottom: 5px;
}

/* media queries */

@media screen and (max-width:970px ){
 /* index page */
 .box-technologies{
  grid-template-columns: 1fr;
  padding-bottom: 100px;
 }
 .box-technologies p{
  margin-bottom: 30px;
  padding: 0px 30px;
 }
/* about */
.about h1{
  font-size: 2.4em;
}
.aboutMe img{
  width: 300px;
}
.aboutMe p,.texto p{
  font-size:  1.4em;
  text-align: center;
}
.second img{
  width: 350px;
}
.conocimientos img{
  width: 420px;
}
@media  screen and (max-width:800px) {
  .about h1{
    padding-top: 120px;
  }
  .aboutMe{
    grid-auto-flow: unset;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .aboutMe .div1{
    order: 1;
    text-align: center;
  }
  .aboutMe h3,.about h2{
    font-size: 2.0em;
  }
  .div2{
    order: 0;
  }
  .second{
    grid-auto-flow: unset;
    grid-template-columns: 1fr;
    gap: 25px;
    justify-items: center;
    margin-left: 40px;
    margin-right: 40px;
  }
  
  .conocimientos h3{
    font-size: 1.1em;
  }
  .conocimientos img {
    width: 360px;
}
.donwload{
  padding: 9px 10px;
  font-size: 0.9em;
}

}

/* contact page */
    .container .grid{
      grid-template-columns: 1fr;
      grid-auto-flow: unset;
    }
    .imgContact img {
      text-align: center;
      width: 300px;
  }
  .imgContact {
    display: none;
}
}
/* end media 970px */

@media screen and (max-width: 700px ){

  .present h1{
    font-size: 1.5em;
  }
  .present h2 span{
    font-size: 1.1em;
  }
  .present-buttons{
    font-size: 1.1em;
    margin-top: 128px;
  }
  .present h1 img{
    width: 16px;
  }
  
  .headerPrincipal ul{
    text-align: center;
    transition: all 0s;
    min-height: 0px !important;
  }
  .nav-ul{
    display: none;
    grid-auto-flow: unset;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .icon-menu{
    font-size: 1.4em;
    color: white;
    text-align: center;
    display: inline-block;
    padding: 10px 0px;
  }
  /* main */
  .box-technologies div{
    margin: 0px 0px;
  }
  .box-technologies p{
    text-align: center;
  }
  .font>div{
    margin-top: -73px;
    padding: 20px 0;
    min-height: 100px;
    text-align: center;
    grid-auto-flow: unset;
    grid-template-columns: 1fr;
    gap: 11px;
    justify-items: center;
  }
  .font>div button{
    width: 150px;
  }
  .font>div p{
    padding: 0 15px;
  }
  .font{
    min-height: 79px;
  }
  /* forms */
  .container form{
    width: 400px ;
  }
  /* about */
  .front,.back{
    grid-auto-flow: unset;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .front1{
    order: 0;
  }
  .front2{
    order: 1;
  }
  

  
  /* footer */
  .box-footer{
    grid-template-columns: 1fr;
    grid-auto-flow: unset;
  }
  .tel ul{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .footerPrincipal{
    text-align: center;
  }
  .footerPrincipal>div{
    min-height: 70px;
  }
}
@media screen and (max-width: 450px) {
  .container form {
    width: 85%;
    margin: 20px auto;
}
.box-footer-second{
  margin: 0 58px;
}

}