<div class="container">
    <div class="anchoMaximo containerProyectos">
        <h2 class="p-1">Proyectos completos</h2>

        <ul class="grid ">

            <li *ngFor="let project of projects" class="proyectos">
                <a [routerLink]="['/proyecto/',project._id]">
                    <img src="{{url+'get-image/'+project.image}}" alt="imagen del proyecto" *ngIf="project.image">
                    <h3>{{project.name}}</h3>
                    <p>{{project.langs}}</p>
                </a>
            </li>

        </ul>
        <h2 class="p-2">Maquetas</h2>
        <ul class="grid ">

            <li  class="proyectos">
                <a href="https://eduard2236.github.io/Red-maqueta/">
                    <img src="../../../assets/img/maquetas/red.jpg" alt="imagen del proyecto">
                    <h3>Red</h3>
                    <p>HTML-CSS-JS-Bootstrap</p>
                </a>
            </li>
            <li  class="proyectos">
                <a href="https://eduard2236.github.io/ARCH-maqueta">
                    <img src="../../../assets/img/maquetas/arch.jpg" alt="imagen del proyecto">
                    <h3>ARCH</h3>
                    <p>HTML-CSS-JS-Bootstrap</p>
                </a>
            </li>
            <li  class="proyectos">
                <a href="https://eduard2236.github.io/Legalmind-maqueta/">
                    <img src="../../../assets/img/maquetas/legalmind.jpg" alt="imagen del proyecto">
                    <h3>Legalmind</h3>
                    <p>HTML-CSS-JS-Bootstrap</p>
                </a>
            </li>
            <li  class="proyectos">
                <a href="https://eduard2236.github.io/Manfori-maqueta/">
                    <img src="../../../assets/img/maquetas/manfori.jpg" alt="imagen del proyecto">
                    <h3>Manfori</h3>
                    <p>HTML-CSS-JS-Bootstrap</p>
                </a>
            </li>
            <li  class="proyectos">
                <a href="https://eduard2236.github.io/Tropiko-maqueta/">
                    <img src="../../../assets/img/maquetas/tropiko.jpg" alt="imagen del proyecto">
                    <h3>Tropiko</h3>
                    <p>HTML-CSS-JS-Bootstrap</p>
                </a>
            </li>
            <li  class="proyectos">
                <a href="https://eduard2236.github.io/Poket-landingPage/">
                    <img src="../../../assets/img/maquetas/poket.jpg" alt="imagen del proyecto">
                    <h3>Poket-landingPage</h3>
                    <p>HTML-CSS-JS</p>
                </a>
            </li>

        </ul>

    </div>


</div>