<div class="container">
    <div class="anchoMaximo containerProyectos">
        <h2>Proyectos</h2>

        <ul class="grid ">

            <li *ngFor="let project of projects" class="proyectos">
                <a [routerLink]="['/proyecto/',project._id]">
                    <img src="{{url+'get-image/'+project.image}}" alt="imagen del proyecto" *ngIf="project.image">
                    <h3>{{project.name}}</h3>
                    <p>{{project.langs}}</p>
                </a>
            </li>

        </ul>


    </div>


</div>