<header class="headerPrincipal" >
  <div class="anchoMaximo navPrincipal">
    <div class="grid"><span class="icon-menu"></span></div>
    <ul class="grid nav-ul">
      <li><a [routerLink]="['/inicio']" [routerLinkActive]="['actived']">Inicio</a></li>
      <li><a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']">Sobre mi</a></li>
      <li><a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Proyectos</a></li>
      <li *ngIf="token != null"><a [routerLink]="['/crear-proyectos']" [routerLinkActive]="['actived']">Crear
          proyecto</a></li>
      <li><a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto</a></li>
    </ul>
  </div>
  <div class="iconos">
    <ul>
      <li><a [routerLink]="['/auth']" [routerLinkActive]="['actived']" title="iniciar sesion"><span
            class="icon-user-plus"></span></a></li>
      <!-- <li *ngIf="token == null"><a [routerLink]="['/registro']"  [routerLinkActive]="['actived']"></a></li> -->
      <li *ngIf="token != null" title="Salir"><a (click)="logout()"><span class="icon-unlocked"></span></a></li>
      <i class="fa fa-angle-up" aria-hidden="true"></i>
    </ul>
  </div>
  <div class="cm-up" id="cm-up">
		<span class="cm-icon">
			<img src="../assets/img/chevron-up-solid.svg" alt="">
		</span>
	</div>
</header>
<main>
  <section id="content" class="">
    <div class="">
      <router-outlet></router-outlet>
    </div>
  </section>
</main>
<footer class="footerPrincipal">
  <div class="grid box-footer">
    <div class="tel">
      <h2>CONTACTO:</h2>
      <ul>
        <li><span class="icon-whatsapp"></span><a href="tel:611296277"> 611 296 22 77 </a></li>
        <li><span class="icon-mail"></span><a href="mailto:eduardcolmenares2236@gmail.com"> eduardcolmenares2236@gmail.com</a></li>
      </ul>
    </div>
    <div class="social ">
      <h2>REDES:</h2>
      <ul class="grid">
        <li><a href="https://www.instagram.com/eduard_2236/" target="_blank"><span class="icon-instagram"></span></a></li>
        <li><a href="https://github.com/eduard2236" target="_blank"><span class="icon-github"></span></a></li>
        <li><a href="https://www.linkedin.com/in/eduard-antonio-colmenares-hernandez-01059a12b/" target="_blank"><span
              class="icon-linkedin"></span></a></li>
      </ul>
    </div>
  </div>
  <div class="anchoMaximo grid box-footer-second">
   <p>Copyright © 2023 Eduard Colmenares - Desarrollador Web</p> 
  </div>

</footer>