<header class="headerPrincipal">
  <div class="anchoMaximo navPrincipal">
    <ul class="grid">
      <li><a [routerLink]="['/inicio']" [routerLinkActive]="['actived']">Inicio</a></li>
      <li><a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']">Sobre mi</a></li>
      <li><a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Proyectos</a></li>
      <li *ngIf="token != null"><a [routerLink]="['/crear-proyectos']" [routerLinkActive]="['actived']">Crear
          proyecto</a></li>
      <li><a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto</a></li>
    </ul>
  </div>
  <div class="iconos">
    <ul>
      <li><a [routerLink]="['/auth']" [routerLinkActive]="['actived']" title="iniciar sesion"><span
            class="icon-user-plus"></span></a></li>
      <!-- <li *ngIf="token == null"><a [routerLink]="['/registro']"  [routerLinkActive]="['actived']"></a></li> -->
      <li *ngIf="token != null" title="Salir"><a (click)="logout()"><span class="icon-unlocked"></span></a></li>
    </ul>
  </div>
</header>
<main>
  <section id="content" class="">
    <div class="">
      <router-outlet></router-outlet>
    </div>
  </section>
</main>
<footer class="footerPrincipal">
  <div class="grid box-footer">
    <div class="tel">
      Contacto:
      <ul>
        <li><span class="icon-whatsapp"></span> Telefono: 611296277</li>
        <li><span class="icon-mail"></span> Correo: eduardcolmenares2236@gmail.com</li>
      </ul>
    </div>
    <div class="social ">
      Redes:
      <ul class="grid">
        <li><a href="https://www.instagram.com/eduard_2236/" target="_blank"><span class="icon-instagram"></span></a></li>
        <li><a href="https://github.com/eduard2236" target="_blank"><span class="icon-github"></span></a></li>
        <li><a href="https://www.linkedin.com/in/eduard-antonio-colmenares-hernandez-01059a12b/" target="_blank"><span
              class="icon-linkedin"></span></a></li>
      </ul>
    </div>
  </div>
  <div class="anchoMaximo grid ">
    Copyright © 2023 Eduard Colmenares • Desarrollador Web
  </div>

</footer>